<main class="container">
  <%= link_to sanitize("&larr; Back to #{@experience.name}"), experience_path(@experience) %>
  
  <div class="entry-date-date">
    <h2>
      <%= l(@entry_date.date, format: :long) %>
    </h2>
  </div>

  <div class="header">
    <h3>
      <%= @experience.name %>
    </h3>

    <%= link_to "New Event",
                new_experience_entry_date_event_path(@experience, @entry_date, @event),
                data: { turbo_frame: dom_id(Event.new) },
                class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Event.new %>

  <%= turbo_frame_tag "events" do %>
    <%= render "events/empty_state" %>
    <%= render @events, experience: @experience, entry_date: @entry_date, event: @event %>
  <% end %>
</main>