<%= simple_form_for experience, html: { class: "experience form" } do |f| %>
  <% if experience.errors.any? %>
    <div class="error-message">
      <%= experience.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", experiences_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>