<main class="container">
  <%= link_to sanitize("&larr; Back to experiences"), experiences_path %>
  
  <div class="header">
    <h1>
      <%= @experience.name %>
    </h1>

    <%= link_to "New Entry Date",
                new_experience_event_date_path(@experience),
                data: { turbo_frame: dom_id(EventDate.new) },
                class: "btn btn--primary" %>
  </div>
  
  <%= turbo_frame_tag EventDate.new %>
  <%= turbo_frame_tag "event_dates" do %>
    <%= render @event_dates, experience: @experience %>
  <% end %>
</main>